@page
@model DemoModel
@{
    ViewData["Title"] = "Demo Kunden";
}
<h1>@ViewData["Title"]</h1>

<p>Für Demo Kunden</p>
<br/>

<p>Haben Sie eine Profil Demo bei uns? Geben Sie hier Ihre ID ein und Sie werden weitergeleitet</p>
<form method="post" asp-page-handler="Search">
    <div class="mb-3">
        <label for="formGroupInput" class="form-label">Bitte geben Sie Ihre Demo ID ein</label>
        <input type="text" class="form-control" id="formGroupInput" placeholder="Deine Demo ID hier eingeben"
            name="DemoKundenID">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    <br/><br/>
</form>
<br/>

<p>Wenn Sie noch keine Demo ID haben, können Sie sich hier eine erstellen</p>
<form method="post" asp-page-handler="Add">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Vorname angeben </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Maksimilian" name="Vorname">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nachname angeben </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Musterman" name="Nachname">
    </div>

        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title angeben: </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Herr/Frau/Divers" name="Title">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Adresse angeben</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="123 Gmbostraße" name="Adresse">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Telefonnummer angeben </label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+49 **********" name="Telefonnummer">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email">
    </div>

        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Geburtsdatum</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="01-01-1999" name="Geburtsdatum">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Bitte geben Sie das Land ihres Firmensitzes an</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Deutschland" name="Land">
    </div>

</br>
    <button class="btn btn-primary" type="submit">Hinzufügen</button>
</form>

</br></br></br>

Extra text