@page
@model DemoModel
@{
    ViewData["Title"] = "Demo Kunden";
}
<h1>@ViewData["Title"]</h1>

<p>Für Demo Kunden</p>

<form method="post" asp-page-handler="/Kunden/Demo">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Vorname angeben </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Maksimilian" name="Vorname">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nachname angeben </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Musterman" name="Nachname">
    </div>

        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title angeben: </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Herr/Frau/Divers" name="Title">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Adresse angeben</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="123 Gmbostraße" name="Adresse">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Telefonnummer angeben </label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+49 **********" name="Telefonnummer">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email">
    </div>

        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Geburtsdatum</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="01-01-1999" name="Geburtsdatum">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Bitte geben Sie das Land ihres Firmensitzes an</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Deutschland" name="Land">
    </div>

</br>
    <button class="btn btn-primary" type="submit">Hinzufügen</button>
</form>

</br></br></br>

Extra text