@page
@model NeuModel
@{
    ViewData["Title"] = "Neu Kunde";
}
<h1>@ViewData["Title"]</h1>

<p>Nothing</p>

<form method="post" asp-page-handler="/Kunden/Neu">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title angeben: </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Herr/Frau/Divers"
            name="Title">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Vorname angeben </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Maksimilian" name="Vorname">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nachname angeben </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Musterman" name="Nachname">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Firmenname angeben</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Musterman GmbH"
            name="Firmenname">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Adresse angeben</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="123 Gmbostraße"
            name="Adresse">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Postleiyahl eingeben </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="451655" name="Postleizahl">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Telefonnummer angeben </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+49 **********"
            name="Telefonnummer">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
            name="Email">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Umsatzsteuernummer einfügen</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="DE1654894156412318978"
            name="Umsatzsteuernummer">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Bitte geben Sie das Land ihres Firmensitzes an</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Deutschland" name="Land">
    </div>
</form>

</br></br></br></br>
