@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

</br></br>
<h3>English</h3>
<p>In the sites current state, information is only saved to the database when a user registers. This information is only used to identify the user and is <strong>not shared with any third parties</strong>.</p>
</br>
<p>The Data is saved and used by the Localhost, and thus poses no thret to you online or mental welbeing. Most Data is used as "Mockdata", and is thus mostly made up or just random.</p>

</br></br>

<h3>Deutsch</h3>
<p>In dem aktuellen Zustand der Website werden Informationen nur in der Datenbank gespeichert, wenn sich ein Benutzer registriert. Diese Informationen werden nur zur Identifizierung des Benutzers verwendet und werden <strong>nicht an Dritte Parteien weitergegeben</strong>.</p>
</br>
<p>Die Daten werden von Localhost gespeichert und verwendet und stellen daher keine Bedrohung für Ihre Online- oder geistige Gesundheit dar. Die meisten Daten werden als "Mockdaten" verwendet und sind daher größtenteils erfunden oder zufällig generiert worden.</p>